In [1]:
import pandas as pd
import json

In [2]:
DATA_PATH = "./MovieSummaries/"
movie_columns = ['WID', 'FID', 'MovieName', 'MovieReleaseDate', 'MovieBoxOfficeRevenue', 'MovieRuntime', 'MovieLanguages', 'MovieCountries', 'MovieGenres']

character_actor_columns = ['WikipediaMovieID','Freebase_MovieID','Movie_release_date','Character_Name','Actor_DOB','Actor_gender','Actor_height','Actor_ethnicity','Actor_Name','Actor_age_at_movie_release','Freebase_character_map1','Freebase_character_map2','Freebase_character_map3']

In [3]:
movie_data = pd.read_csv(DATA_PATH+"movie.metadata.tsv", sep='\t', names=movie_columns)
movie_data.head()

,WID,FID,MovieName,MovieReleaseDate,MovieBoxOfficeRevenue,MovieRuntime,MovieLanguages,MovieCountries,MovieGenres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [5]:
char_actor_data = pd.read_csv(DATA_PATH+"character.metadata.tsv", sep='\t', names=character_actor_columns)
char_actor_data.head()

,WikipediaMovieID,Freebase_MovieID,Movie_release_date,Character_Name,Actor_DOB,Actor_gender,Actor_height,Actor_ethnicity,Actor_Name,Actor_age_at_movie_release,Freebase_character_map1,Freebase_character_map2,Freebase_character_map3
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg

In [7]:
char_actor_movie_data = pd.merge(char_actor_data, movie_data, how='left', left_on=["WikipediaMovieID", "Freebase_MovieID", "Movie_release_date"], right_on=["WID", "FID", "MovieReleaseDate"]).copy()
char_actor_movie_data_dropped = char_actor_movie_data.drop(["WID", "FID", "MovieReleaseDate"], axis=1).copy()
display(char_actor_movie_data_dropped)
display(char_actor_movie_data_dropped.columns)

,WikipediaMovieID,Freebase_MovieID,Movie_release_date,Character_Name,Actor_DOB,Actor_gender,Actor_height,Actor_ethnicity,Actor_Name,Actor_age_at_movie_release,Freebase_character_map1,Freebase_character_map2,Freebase_character_map3,MovieName,MovieBoxOfficeRevenue,MovieRuntime,MovieLanguages,MovieCountries,MovieGenres
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7,Ghosts of Mars,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4,Ghosts of Mars,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l,Ghosts of Mars,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc,Ghosts of Mars,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg,Ghosts of Mars,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450664,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv,The Super Dimension Fortress Macross II: Lover...,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
450665,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j,The Super Dimension Fortress Macross II: Lover...,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
450666,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,NaN,/m/022g44,Five Clues to Fortune,NaN,129.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/0lsxr"": ""Crime Fiction""}"
450667,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN,/m/0g8ngmm,Five Clues to Fortune,NaN,129.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/0lsxr"": ""Crime Fiction""}"
450668,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN,/m/0btz19d,Five Clues to Fortune,NaN,129.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/0lsxr"": ""Crime Fiction""}"

Index(['WikipediaMovieID', 'Freebase_MovieID', 'Movie_release_date',
       'Character_Name', 'Actor_DOB', 'Actor_gender', 'Actor_height',
       'Actor_ethnicity', 'Actor_Name', 'Actor_age_at_movie_release',
       'Freebase_character_map1', 'Freebase_character_map2',
       'Freebase_character_map3', 'MovieName', 'MovieBoxOfficeRevenue',
       'MovieRuntime', 'MovieLanguages', 'MovieCountries', 'MovieGenres'],
      dtype='object')

In [8]:
# rename each column to snake case
char_actor_movie_data_renamed = char_actor_movie_data_dropped.rename(columns={'WikipediaMovieID': 'wiki_movie_id',
                                                  'Freebase_MovieID': 'freebase_movie_id',
                                                  'Movie_realse_date': 'movie_release_date',
                                                  'Character_Name': 'character_name',
                                                  'Actor_DOB': 'actor_dob',
                                                  'Actor_gender': 'actor_gender',
                                                  'Actor_height': 'actor_height',
                                                  'Actor_ethnicity': 'actor_ethnicity',
                                                  'Actor_Name': 'actor_name',
                                                  'Actor_age_at_movie_release': 'actor_age_at_movie_release',
                                                  'Freebase_character_map1': 'freebase_character_actor_map_id',
                                                  'Freebase_character_map2': 'freebase_character_id',
                                                  'Freebase_character_map3': 'freebase_actor_id',
                                                  'MovieName': 'movie_name',
                                                  'MovieBoxOfficeRevenue': 'movie_box_office_revenue',
                                                  'MovieRuntime': 'movie_runtime',
                                                  'MovieLanguages': 'movie_languages',
                                                  'MovieCountries': 'movie_countries',
                                                  'MovieGenres': 'movie_genres'}).copy()

In [9]:
# convert dictionaries to lists for movie_genres, movie_countries, movie_languages columns

genre_col = []
for l in char_actor_movie_data_renamed["movie_genres"].values:
    l = json.loads(l)
    genre_col.append(list(l.values()))

country_col = []
for l in char_actor_movie_data_renamed["movie_countries"].values:
    l = json.loads(l)
    country_col.append(list(l.values()))

language_col = []
for l in char_actor_movie_data_renamed["movie_languages"].values:
    l = json.loads(l)
    language_col.append(list(l.values()))

char_actor_movie_data_renamed["movie_genres"] = genre_col
char_actor_movie_data_renamed["movie_countries"] = country_col
char_actor_movie_data_renamed["movie_languages"] = language_col
char_actor_movie_data_new = char_actor_movie_data_renamed.copy()
display(char_actor_movie_data_new)

,wiki_movie_id,freebase_movie_id,Movie_release_date,character_name,actor_dob,actor_gender,actor_height,actor_ethnicity,actor_name,actor_age_at_movie_release,freebase_character_actor_map_id,freebase_character_id,freebase_actor_id,movie_name,movie_box_office_revenue,movie_runtime,movie_languages,movie_countries,movie_genres
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7,Ghosts of Mars,14010832.0,98.0,[English Language],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,..."
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4,Ghosts of Mars,14010832.0,98.0,[English Language],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,..."
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l,Ghosts of Mars,14010832.0,98.0,[English Language],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,..."
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc,Ghosts of Mars,14010832.0,98.0,[English Language],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,..."
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg,Ghosts of Mars,14010832.0,98.0,[English Language],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450664,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv,The Super Dimension Fortress Macross II: Lover...,NaN,150.0,[Japanese Language],[Japan],"[Science Fiction, Japanese Movies, Adventure, ..."
450665,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j,The Super Dimension Fortress Macross II: Lover...,NaN,150.0,[Japanese Language],[Japan],"[Science Fiction, Japanese Movies, Adventure, ..."
450666,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,NaN,/m/022g44,Five Clues to Fortune,NaN,129.0,[English Language],[United Kingdom],[Crime Fiction]
450667,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN,/m/0g8ngmm,Five Clues to Fortune,NaN,129.0,[English Language],[United Kingdom],[Crime Fiction]
450668,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN,/m/0btz19d,Five Clues to Fortune,NaN,129.0,[English Language],[United Kingdom],[Crime Fiction]

In [14]:
# save to processed_files
char_actor_movie_data_new.to_csv("./processed_files/char_actor_movie_data_new.csv")

In [46]:
# 一些处理Dataframe中list的操作

# 按list长度筛选dataframe，可以用.map(len)或者.str.len()
char_actor_movie_data_new[char_actor_movie_data_new["movie_genres"].map(len) ==0]

,wiki_movie_id,freebase_movie_id,Movie_release_date,character_name,actor_dob,actor_gender,actor_height,actor_ethnicity,actor_name,actor_age_at_movie_release,freebase_character_actor_map_id,freebase_character_id,freebase_actor_id,movie_name,movie_box_office_revenue,movie_runtime,movie_languages,movie_countries,movie_genres
71,32456683,/m/0gyryjt,1967,NaN,1906-12-27,M,NaN,NaN,Erwin Geschonneck,60.0,/m/0h40xcx,NaN,/m/02qyp1n,Die Fahne von Kriwoj Rog,NaN,108.0,[German Language],[German Democratic Republic],[]
194,21153158,/m/05c4bry,2008-11-01,NaN,1971-07-31,M,NaN,NaN,John5,37.0,/m/0gz13sk,NaN,/m/01q_wyj,Behind The Player: John 5,NaN,72.0,[],[],[]
851,6795107,/m/0gp9cf,1998-05-15,Janaki,1952-12-10,F,NaN,/m/0dryh9k,Sujatha,45.0,/m/0gggb1x,/m/0h80gh5,/m/04ygpmd,Aval Varuvala,NaN,145.0,[Tamil Language],[],[]
852,6795107,/m/0gp9cf,1998-05-15,Jeeva,1971-05-01,M,1.80,/m/029f2r,Ajith Kumar,27.0,/m/03lrqwh,/m/0gz5c8p,/m/06c53w,Aval Varuvala,NaN,145.0,[Tamil Language],[],[]
853,6795107,/m/0gp9cf,1998-05-15,Divya,1976-04-04,F,1.67,/m/02sch9,Simran Bagga,22.0,/m/03jrljm,/m/0j8pr2s,/m/04cmrt,Aval Varuvala,NaN,145.0,[Tamil Language],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450102,31078991,/m/0gg8qhs,NaN,NaN,1951-07-31,M,NaN,NaN,Sarath Babu,NaN,/m/0ggcs71,NaN,/m/03nr4s4,Thendral Sudum,NaN,180.0,[Tamil Language],[India],[]
450103,31078991,/m/0gg8qhs,NaN,NaN,NaN,M,NaN,NaN,S. S. Chandran,NaN,/m/0ggdlb4,NaN,/m/02w30x4,Thendral Sudum,NaN,180.0,[Tamil Language],[India],[]
450104,31078991,/m/0gg8qhs,NaN,NaN,1953-04-16,M,NaN,NaN,Nizhalgal Ravi,NaN,/m/0ggdt4d,NaN,/m/04n24yj,Thendral Sudum,NaN,180.0,[Tamil Language],[India],[]
450105,31078991,/m/0gg8qhs,NaN,NaN,1943-05-26,F,NaN,NaN,Manorama,NaN,/m/0ggfhk2,NaN,/m/07_bv_,Thendral Sudum,NaN,180.0,[Tamil Language],[India],[]
450164,20904016,/m/05b1yb1,1977,NaN,1938-07-09,M,NaN,/m/0g0x7_,Sanjeev Kumar,38.0,/m/0k2fll5,NaN,/m/02jxsq,Angaare,NaN,NaN,[Hindi Language],[India],[]

In [47]:
char_actor_movie_data_new[char_actor_movie_data_new["movie_genres"].str.len() ==0]

,wiki_movie_id,freebase_movie_id,Movie_release_date,character_name,actor_dob,actor_gender,actor_height,actor_ethnicity,actor_name,actor_age_at_movie_release,freebase_character_actor_map_id,freebase_character_id,freebase_actor_id,movie_name,movie_box_office_revenue,movie_runtime,movie_languages,movie_countries,movie_genres
71,32456683,/m/0gyryjt,1967,NaN,1906-12-27,M,NaN,NaN,Erwin Geschonneck,60.0,/m/0h40xcx,NaN,/m/02qyp1n,Die Fahne von Kriwoj Rog,NaN,108.0,[German Language],[German Democratic Republic],[]
194,21153158,/m/05c4bry,2008-11-01,NaN,1971-07-31,M,NaN,NaN,John5,37.0,/m/0gz13sk,NaN,/m/01q_wyj,Behind The Player: John 5,NaN,72.0,[],[],[]
851,6795107,/m/0gp9cf,1998-05-15,Janaki,1952-12-10,F,NaN,/m/0dryh9k,Sujatha,45.0,/m/0gggb1x,/m/0h80gh5,/m/04ygpmd,Aval Varuvala,NaN,145.0,[Tamil Language],[],[]
852,6795107,/m/0gp9cf,1998-05-15,Jeeva,1971-05-01,M,1.80,/m/029f2r,Ajith Kumar,27.0,/m/03lrqwh,/m/0gz5c8p,/m/06c53w,Aval Varuvala,NaN,145.0,[Tamil Language],[],[]
853,6795107,/m/0gp9cf,1998-05-15,Divya,1976-04-04,F,1.67,/m/02sch9,Simran Bagga,22.0,/m/03jrljm,/m/0j8pr2s,/m/04cmrt,Aval Varuvala,NaN,145.0,[Tamil Language],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450102,31078991,/m/0gg8qhs,NaN,NaN,1951-07-31,M,NaN,NaN,Sarath Babu,NaN,/m/0ggcs71,NaN,/m/03nr4s4,Thendral Sudum,NaN,180.0,[Tamil Language],[India],[]
450103,31078991,/m/0gg8qhs,NaN,NaN,NaN,M,NaN,NaN,S. S. Chandran,NaN,/m/0ggdlb4,NaN,/m/02w30x4,Thendral Sudum,NaN,180.0,[Tamil Language],[India],[]
450104,31078991,/m/0gg8qhs,NaN,NaN,1953-04-16,M,NaN,NaN,Nizhalgal Ravi,NaN,/m/0ggdt4d,NaN,/m/04n24yj,Thendral Sudum,NaN,180.0,[Tamil Language],[India],[]
450105,31078991,/m/0gg8qhs,NaN,NaN,1943-05-26,F,NaN,NaN,Manorama,NaN,/m/0ggfhk2,NaN,/m/07_bv_,Thendral Sudum,NaN,180.0,[Tamil Language],[India],[]
450164,20904016,/m/05b1yb1,1977,NaN,1938-07-09,M,NaN,/m/0g0x7_,Sanjeev Kumar,38.0,/m/0k2fll5,NaN,/m/02jxsq,Angaare,NaN,NaN,[Hindi Language],[India],[]