In [1]:
import pandas as pd
import json

In [2]:
p = pd.read_pickle('actor_period.pkl')
p

,ActorID,ActorName,ActorGender,PeriodTag,PeriodLength,ActorAgeAtMovieRelease,MovieReleaseDate,CareerLength
0,/m/010p3,Adam Carolla,M,Comedy,14.0,33.0,1997,14.0
1,/m/010xjr,Richard Harris,M,Adventure,6.0,28.0,1958,44.0
2,/m/010xjr,Richard Harris,M,Drama,1.0,35.0,1966,44.0
3,/m/010xjr,Richard Harris,M,Romance,1,37.0,1967,44.0
4,/m/010xjr,Richard Harris,M,Crime,1,39.0,1969,44.0
...,...,...,...,...,...,...,...,...
76622,/m/0zcbl,Paul Giamatti,M,Romance,1.0,37.0,2005,22.0
76623,/m/0zcbl,Paul Giamatti,M,Comedy,4.0,39.0,2006,22.0
76624,/m/0zcbl,Paul Giamatti,M,Drama,1,43.0,2010,22.0
76625,/m/0zcbl,Paul Giamatti,M,Comedy,1.0,43.0,2011,22.0
76626,/m/0zcbl,Paul Giamatti,M,Drama,2.0,44.0,2011,22.0

In [3]:
df = pd.read_pickle("actor_movie_change.pkl")

In [4]:
# Adding the original index to the awards data
df_awarded = df.copy()
awards_columns = ['Cannes', 'Berlin', 'Venice', 'OscarWinner', 'OscarNomination']
df_awarded['Awarded'] = (df[awards_columns] == 1).any(axis=1)

# Retaining the original index
df_reindexed = df_awarded[df_awarded['Awarded']]
df_reindexed.reset_index(inplace=True)

df_reindexed

,index,ActorName,ActorID,ActorDOB,ActorHeight,ActorGender,ActorAgeAtMovieRelease,Cannes,Berlin,Venice,...,AverageRating,NumVotes,MovieBoxOfficeRevenue,InflationCoeff,InflationCorrectedRevenue,WindowValue,PeriodTag,PeriodChange,ChangeCounts,Awarded
0,73,Toshiro Mifune,/m/0112yl,1920,1.74,M,41.0,0,0,1,...,8.2,128624.0,NaN,9.065060,NaN,"[Adventure, Thriller]",Thriller,0,9,True
1,95,Lily Tomlin,/m/011_3s,1939,1.73,F,37.0,0,1,0,...,6.9,3134.0,NaN,4.470833,NaN,"[Action, Adventure, Comedy, Crime, Detective, ...",Romance,0,1,True
2,118,Vivien Merchant,/m/011_c4,1929,NaN,F,37.0,0,0,0,...,7.0,15474.0,NaN,8.348234,NaN,[Romance],Romance,0,3,True
3,127,Chester Morris,/m/011_pk,1901,NaN,M,28.0,0,0,0,...,5.7,906.0,NaN,NaN,NaN,"[Action, Thriller]",Thriller,1,9,True
4,285,Jackie Gleason,/m/0121rx,1916,1.77,M,45.0,0,0,0,...,8.0,85486.0,7600000.0,9.065060,6.889446e+07,"[Action, Adventure]",Adventure,0,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419,201946,Anthony Hopkins,/m/0z4s,1937,1.74,M,53.0,0,0,0,...,8.6,1505617.0,272742922.0,1.989621,5.426549e+08,"[Crime, Thriller]",Crime,0,30,True
1420,201955,Anthony Hopkins,/m/0z4s,1937,1.74,M,55.0,0,0,0,...,7.8,81357.0,63954968.0,1.875764,1.199644e+08,[Romance],Romance,0,30,True
1421,201958,Anthony Hopkins,/m/0z4s,1937,1.74,M,57.0,0,0,0,...,7.1,32258.0,13560960.0,1.778211,2.411425e+07,[Romance],Romance,0,30,True
1422,201961,Anthony Hopkins,/m/0z4s,1937,1.74,M,59.0,0,0,0,...,7.3,81425.0,44229441.0,1.688110,7.466415e+07,[Romance],Romance,0,30,True
1423,202022,Paul Giamatti,/m/0zcbl,1967,1.74,M,37.0,0,0,0,...,7.5,195086.0,108539911.0,1.387513,1.506006e+08,[Thriller],Romance,1,11,True

In [5]:
df_awarded

,ActorName,ActorID,ActorDOB,ActorHeight,ActorGender,ActorAgeAtMovieRelease,Cannes,Berlin,Venice,OscarWinner,...,AverageRating,NumVotes,MovieBoxOfficeRevenue,InflationCoeff,InflationCorrectedRevenue,WindowValue,PeriodTag,PeriodChange,ChangeCounts,Awarded
0,Adam Carolla,/m/010p3,1964,1.88,M,33.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,"[Comedy, Romance]",Comedy,0,0,False
1,Adam Carolla,/m/010p3,1964,1.88,M,34.0,0,0,0,0,...,NaN,NaN,45703.0,NaN,NaN,[Comedy],Comedy,0,0,False
2,Adam Carolla,/m/010p3,1964,1.88,M,35.0,0,0,0,0,...,5.00,15579.0,24419914.0,1.573576,3.842659e+07,[Comedy],Comedy,0,0,False
3,Adam Carolla,/m/010p3,1964,1.88,M,35.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,[Comedy],Comedy,0,0,False
4,Adam Carolla,/m/010p3,1964,1.88,M,38.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,[Comedy],Comedy,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202039,Paul Giamatti,/m/0zcbl,1967,1.74,M,44.0,0,0,0,0,...,6.30,39846.0,NaN,1.180213,NaN,[Comedy],Comedy,0,11,False
202040,Paul Giamatti,/m/0zcbl,1967,1.74,M,44.0,0,0,0,0,...,7.10,228252.0,75993061.0,1.204636,9.154395e+07,[Drama],Drama,1,11,False
202041,Paul Giamatti,/m/0zcbl,1967,1.74,M,44.0,0,0,0,0,...,5.10,49512.0,6063556.0,1.180213,7.156288e+06,[Drama],Drama,0,11,False
202042,Paul Giamatti,/m/0zcbl,1967,1.74,M,45.0,0,0,0,0,...,7.05,80813.0,55518613.0,1.180213,6.552379e+07,[Drama],Drama,0,11,False
202043,Paul Giamatti,/m/0zcbl,1967,1.74,M,46.0,0,0,0,0,...,7.50,167970.0,112544580.0,NaN,NaN,[Drama],Drama,0,11,False

In [6]:
def if_intersect(df):
    if df['PeriodTag'][0] in df['MovieGenresFinal'][0]:
        return True
    else:
        return False

df_reindexed['intersect'] = df_reindexed.apply(lambda row: row['PeriodTag'] in row['MovieGenresFinal'], axis=1)
df_reindexed_selected = df_reindexed[df_reindexed['intersect']]

C:\Users\Theodore\AppData\Local\Temp\ipykernel_23192\2005042101.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reindexed['intersect'] = df_reindexed.apply(lambda row: row['PeriodTag'] in row['MovieGenresFinal'], axis=1)

In [9]:
df_reindexed_selected

,index,ActorName,ActorID,ActorDOB,ActorHeight,ActorGender,ActorAgeAtMovieRelease,Cannes,Berlin,Venice,...,NumVotes,MovieBoxOfficeRevenue,InflationCoeff,InflationCorrectedRevenue,WindowValue,PeriodTag,PeriodChange,ChangeCounts,Awarded,intersect
0,73,Toshiro Mifune,/m/0112yl,1920,1.74,M,41.0,0,0,1,...,128624.0,NaN,9.065060,NaN,"[Adventure, Thriller]",Thriller,0,9,True,True
1,95,Lily Tomlin,/m/011_3s,1939,1.73,F,37.0,0,1,0,...,3134.0,NaN,4.470833,NaN,"[Action, Adventure, Comedy, Crime, Detective, ...",Romance,0,1,True,True
2,118,Vivien Merchant,/m/011_c4,1929,NaN,F,37.0,0,0,0,...,15474.0,NaN,8.348234,NaN,[Romance],Romance,0,3,True,True
3,127,Chester Morris,/m/011_pk,1901,NaN,M,28.0,0,0,0,...,906.0,NaN,NaN,NaN,"[Action, Thriller]",Thriller,1,9,True,True
5,442,Jackie Cooper,/m/012c6x,1922,NaN,M,8.0,0,0,0,...,NaN,NaN,NaN,NaN,[Comedy],Comedy,0,9,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,201561,Sean Penn,/m/0sz28,1960,1.77,M,42.0,0,0,0,...,475331.0,156822020.0,1.472995,2.309981e+08,[Thriller],Thriller,0,10,True,True
1417,201562,Sean Penn,/m/0sz28,1960,1.77,M,43.0,0,0,1,...,243422.0,60427839.0,1.472995,8.900992e+07,[Thriller],Thriller,0,10,True,True
1419,201946,Anthony Hopkins,/m/0z4s,1937,1.74,M,53.0,0,0,0,...,1505617.0,272742922.0,1.989621,5.426549e+08,"[Crime, Thriller]",Crime,0,30,True,True
1420,201955,Anthony Hopkins,/m/0z4s,1937,1.74,M,55.0,0,0,0,...,81357.0,63954968.0,1.875764,1.199644e+08,[Romance],Romance,0,30,True,True
1423,202022,Paul Giamatti,/m/0zcbl,1967,1.74,M,37.0,0,0,0,...,195086.0,108539911.0,1.387513,1.506006e+08,[Thriller],Romance,1,11,True,True

In [32]:
periods_around_award = []

for id, row in df_reindexed_selected.iterrows():

    df_actor = df[df.ActorID==row.ActorID]

    period_tag_before_after = {}
    awarded_index = row['index']
    awarded_tag = row.PeriodTag
    period_tag_before_after[1] = awarded_tag
    period_tags = df_actor.PeriodTag

    # find period tag before
    index = awarded_index
    while index > period_tags.index.min():
        index -= 1
        tag_before = period_tags[index]
        if tag_before != awarded_tag:
            period_tag_before_after[0] = tag_before
            break

    # find period tag after
    index = awarded_index
    while index < period_tags.index.max():
        index += 1
        tag_after = period_tags[index]
        if tag_after != awarded_tag:
            period_tag_before_after[2] = tag_after
            break

    if len(period_tag_before_after) > 1:
        periods_around_award.append(period_tag_before_after)

with open("periods_around_award.json", "w") as f:
    json.dump(periods_around_award, f)